#musicplayer{
	width: 100%;
		float:none;
	display:inline;
}

#playlist{
	margin-left:15px;
	float:none;
	display:inline
	
}

#volume-control{
	margin-bottom:10px;
}

#thresholdbox{
	color:black; 	
	width: 100px;
}

.volume{
	width:90%;
	margin-left:5px;
	display: inline-block;
}

.centerlist{
	border-style: solid;
	border-color: grey;
	border-width: 1px 1px 1px 1px;
	margin-left:15px;
}

.headline{

	color: #286090;
	text-align: center;
	border:none;
}

.ui-slider{
	background:#aaaaaa;
}
.ui-slider-handle{
	color:grey;
}
.ui-spinner-up{
	color:black;
}
.main{
	width:100%;
	margin-top:0px;
}
.ui-spinner .ui-icon { color:black, position: absolute; margin-top: -8px; top: 50%; left: 0; } /* vertical centre icon */
.ui-tabs{
	background-color:grey;
}

.ui-state-default a,.ui-state-default a:link,.ui-state-default a:visited{
	color:white;
	text-decoration:none
}

.ui-state-active a,.ui-state-active a:link,.ui-state-active a:visited{
	
	background-color:grey;
	color:black;
	text-decoration:bold
}

.ui-state-default,.ui-widget-content .ui-state-default,.ui-widget-header .ui-state-default{
	border:none;
	font-weight:normal;
	color:#454545;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    border:none;

    font-weight: normal;
}

.ui-tabs-anchor{
	border: none;
	background-color:#4d4d4d;
}
.ui-tabs-nav{
	padding:1px;
	background-color:#464646;
}

.ui-tabs .ui-tabs-nav {
    margin: 0;
    padding: 1px;
}

.ui-widget-header{
	background-color: #252525;
	border: none;
}
.ui-widget-content{
	border:none;
}

.threshold-indicator {
	margin-left:10px;
	width: 15px;
	height: 15px;
	border-radius:50%;
	background-color:green;
	display:inline-block;
}
.brightness {-webkit-filter: brightness(0.25); filter: brightness(0.25);}

